
<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img>

    <dl>
    <%% for (var attr in pokemon.attributes) { %>
      <%%  if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') { %>
          <dt><%%= attr %>:</dt><dd><%%= pokemon.get(attr) %></dd>
      <%%  } %>
    <%%  } %>
    </dl>
    <ul class='toys'></ul>
  </div>
</script>

<script type="text/template" id="pokemon-list-item-template">

  <li class="poke-list-item" data-id="<%%= pokemon.get('id') %>">

    <%% ['name', 'poke_type'].forEach(function (attr) { %>
      <%%= attr %>: <%%= pokemon.get(attr) %><br>
    <%% }); %>

  </li>

</script>

<script type="text/template" id="toy-list-item-template">

  <li class="toy-list-item" data-id="<%%= toy.get('id') %>" data-pokemon-id="<%%= toy.get('pokemon_id') %>" >
    <%% ['name', 'happiness', 'price'].forEach(function (attr) { %>
      <%%= attr %>: <%%= toy.get(attr) %> <br>
    <%% }); %>
  </li>

</script>

<script type="text/template" id="toy-detail-template">
  <div class="detail">
    <img src="<%%= toy.get('image_url') %>"><br>
      <%% for (var attr in toy.attributes) { %>
        <%% if(attr !== 'pokemon_id' && attr !== 'image_url') { %>
          <strong><%%= attr %>: <%%= toy.get(attr) %></strong>
          <br>
      <%%  } %>
    <%% } %>
  </div>

  <select data-pokemon-id="<%%= toy.get('pokemon_id') %>" data-toy-id="<%%= toy.id %>" >
    <%% if (pokes.length > 0) { %>
      <%% pokes.each(function(pokemon) { %>
        <option value="<%%= pokemon.id %>"
          <%% if (pokemon.id === toy.get('pokemon_id')) { %>
             selected
          <%% } %> >
          <%%= pokemon.escape("name") %>
        </option>
      <%% }); %>
    <%% } %>
  </select>

</script>

<script type="text/template" id="pokemon-form-template">

      <div class='pokemon-form'>
        <form class='new-pokemon'>
          <div>
            <label
              for='pokemon_name'>Name:</label>
            <input
              type='text'
              id='pokemon_name'
              name='pokemon[name]'>
          </div>

          <div>
            <label
              for='pokemon_image_url'>Image URL:</label>
            <input
              type='text'
              id='pokemon_image_url'
              name='pokemon[image_url]'>
          </div>

          <div>
            <label
              for='pokemon_poke_type'>Type:</label>
            <select
              id='pokemon_poke_type'
              name='pokemon[poke_type]'>
              <% Pokemon::TYPES.each do |type|%>
                <option><%= type %></option>
              <% end %>
            </select>
          </div>

          <div>
            <label
              for='pokemon_attack'>Attack:</label>
            <input
              type='number'
              id='pokemon_attack'
              name='pokemon[attack]'>
          </div>

          <div>
            <label
              for='pokemon_defense'>Defense:</label>
            <input
              type='number'
              id='pokemon_defense'
              name='pokemon[defense]'>
          </div>

          <div>
            <label
              for='pokemon_move_1'>Move #1:</label>
            <input
              type='text'
              id='pokemon_move_1'
              name='pokemon[moves][]'>
          </div>

          <div>
            <label
              for='pokemon_move_2'>Move #2:</label>
            <input
              type='text'
              id='pokemon_move_2'
              name='pokemon[moves][]'>
          </div>

          <button>Create Pokemon</button>
          <br>
        </form>
      </div>

</script>
